.info-list {
  margin: 20px;
  &-item {
    box-sizing: content-box;
    font-size: 14px;
    margin-bottom: 12px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
    color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    display: flex;
    > div {
      display: flex;
    }
    &.descript {
      display: block;
    }
    &-descript {
      color: rgba(255, 255, 255, 0.85);
      margin-bottom: 12px;
      font-size: 16px;
    }
    img {
      width: 24px;
      margin-right: 12px;
    }
  }
  &-token {
    background: transparent;
    display: flex;
    margin-bottom: 24px;
    img {
      width: 22%;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 100%;
      margin-right: 0;
    }
    &-detail {
      margin-left: 24px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .info-list {
        &-symbol {
          font-size: 20px;
          color: rgba(255, 255, 255, 1);
        }
        &-name {
          font-size: 16px;
          color: rgba(255, 255, 255, 0.85);
        }
        &-totalSupply {
          color: rgba(139, 139, 139, 1);
          font-size: 16px;
        }
      }
    }
  }
}
