.info-list {
  background: rgb(69, 69, 69);
  margin: 12px auto;
  width: 86%;
  position: relative;
  border-radius: 20px;
  padding: 6px;
  &-item {
    color: rgba(255, 255, 255, 0.85);
    font-size: 14px;
    margin: 12px 12px 0 12px;
  }
  .img {
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
