.info-list {
  background: rgba(36, 36, 36, 1);
  margin: 12px auto;
  width: 86%;
  max-width: 400px;
  border-radius: 20px;
  padding: 6px;
  &-item {
    color: rgba(255, 255, 255, 0.85);
    font-size: 14px;
    margin: 12px 12px 0 12px;
  }
}
