.select-token {
  margin-top: 24px;
  &-item {
    display: flex;
    justify-content: space-between;
    height: 42px;
    margin-bottom: 12px;
    &-info {
      display: flex;
      justify-content: space-between;
      > div {
        display: flex;
        flex-direction: column;
        margin-left: 6px;
        justify-content: space-evenly;
      }
    }
  }
}
