@import url(@/style/variable.less);
/* @backgroundColor: #0a1511;
@modalBackgroundColor: #060e0b;
@desc-font-color: #8c8c8c;
@button-color: #86f097;
@modal-background-color: #2d2d2d; */
.select-token-modal {
  .ant-modal {
    width: 400px !important;
    &-content {
      .ant-modal-close {
        color: #fff;
      }
    }
    &-title {
      color: #fff;
    }
  }
}

/* @media (max-width: 500px) {
  .select-token-modal {
    .ant-modal {
      width: 90% !important;
      &-content {
        width: 100%;
        height: 500px;
      }
    }
  }
} */
