.manage-token-detail-info {
  &.mint-scroll {
    height: calc(100% - 360px);
    overflow: scroll;
  }
}
.manage-tokenBox{
  width: 100%;
  position: relative;
  height: 100%;
  .hint{
    position: absolute;
    width: 80%;
    bottom: 60px;
    text-align: center;
    color: rgba(255,255,255,0.55);
    left: 50%;
    transform: translate(-50%,0);
  }

}


.manage-token-button_box {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 12px auto;
  button {
    width: 30%;
    span{
      text-align: left;
    }
    white-space: normal;
  }
  .buttonBack {
    border: 1px solid rgb(134, 240, 151) !important;
    color: rgb(134, 240, 151);
    padding:  20px;
    border-radius: 13px;
  }
  .buttonBack:hover {
    border: 1px solid rgb(134, 240, 151) !important;
    color: rgb(134, 240, 151);
  }
  .buttonBackActi {
    background-color: rgb(134, 240, 151);
    color: black;
    padding:  20px;
    border-radius: 13px;
  }
  .buttonBackActi:hover {
    background-color: rgb(134, 240, 151) !important;
    color: black !important;
  }
}

.not-owner {
  button {
    cursor: not-allowed;
  }
}

.token-detail-button {
  margin: 0 20px;
  button {
    width: 100%;
    height: 42px;
    font-size: 22px;
    border-radius: 12px;
    margin-bottom: 12px;
  }
}
.remove-own-ship-modal {
  p {
    color: rgba(255, 255, 255, 0.75);
    margin: 24px;
  }
  .ant-modal-body {
    >div {
      display: flex;
      justify-content: center;
    }
    button {
      width: 30%;
      margin: 0 12px;
      height: 36px;
      border-radius: 12px;
    }
  }
}

.mint-common-modal  {
  .open-trade-button {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    button {
      width: 30%;
      margin: 0 12px;
      height: 36px;
      border-radius: 12px;
    }
  }
  .pair-info-comp {
    height: 54px;
    margin-bottom: 24px;
  }
  .pair-info-token {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    color: rgba(139, 139, 139, 1);
    font-size: 18px;
  }
}