.mint-confirm {
  width: 100%;
  height: 100%;
  .launch-header-title {
    font-size: 48px;
    color: #86f097;
  }
  .launch-header-desc {
    font-size: 18px;
  }
}
.resultBox {
  position: relative;
  width: 100%;
  height: 100%;
  .mint-bottom-button{
    position: absolute;
  }
  .back {
    z-index: 10;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #2d2d2d;
    border-radius: 48px 48px 0 0;
    left: 0;
    .with {
      margin: 24px 0;
      font-size: 24px;
      display: flex;
      align-items: center;
      width: 100%;
      color: white;
      justify-content: center;
      div {
        margin-top: 8px;
        margin-left: 8px;
      }
    }
    .backTo {
      font-size: 20px;
      text-align: center;
      width: 80%;
      cursor: pointer;
      margin: 0 auto;
      border-radius: 16px;
      color: #1a1a1a;
      padding: 16px 0;
    }
    .goEth {
      font-size: 18px;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgb(134, 240, 151);
      cursor: pointer;
      margin: 8px auto 16px;
      border-radius: 16px;
      color: rgb(134, 240, 151);
      padding: 16px 0;
      p {
        width: 20px;
        cursor: pointer;
        background-color: #fff;
        position: relative;
        border-radius: 50%;
        margin-right: 8px;
        height: 20px;
        img {
          width: 22px;
          height: 22px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.launch-form-icon {
  display: flex;
  width: 20%;
  position: relative;
  aspect-ratio: 1/1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }
  .launch-form-edit {
    position: absolute;
    right: -2px;
    bottom: 0;
    background: rgba(156, 156, 156, 1);
    border-radius: 0;
    padding: 4px;
    border-radius: 100%;
    img {
      width: 16px;
      object-fit: scale-down;
      border-radius: 0;
    }
  }
  &:hover {
    cursor: pointer;
    filter: brightness(0.8);
  }
  transition: filter 0.3s ease-in-out;
}

.icon-link-modal {
  input {
    background: rgba(94, 94, 94, 0.3);
    border: none;
    color: white;
    box-shadow: none;
    outline: none;
    box-shadow: none;

    &::placeholder {
      color: rgba(255, 255, 255, 0.55);
    }
    &:focus {
      background: rgba(94, 94, 94, 0.3);
      border: none;
    }
    &:hover {
      background: rgba(94, 94, 94, 0.2);
    }
  }
  button {
    width: 34%;
  }
}


.launc-social-media {
  display: flex;
  img {
    width: 24px;
    margin-left: 6px;
  }
}