.mint-confirm {
  width: 100%;
  height: 100%;
  .launch-header-title {
    font-size: 48px;
    color: #86f097;
  }
  .launch-header-desc {
    font-size: 18px;
  }
}

.resultBox {
  position: relative;
  width: 100%;
  height: 100%;
}
