.launch-token-item {
  background-color: rgba(36, 36, 36, 1);
  margin:0 16px  12px ;
  padding: 14px 18px 4px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .dis {
    display: flex;
    margin-bottom: 8px;
  }
  &-title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
  }
  &-desc {
    color: rgba(255, 255, 255, 0.85);
  }
  &-remark {
    color: rgba(255, 255, 255, 0.55);
  }
  &-tips {
    color: rgba(255, 255, 255, 0.55);
  }
}
