.launch-token-item {
  background: rgba(36, 36, 36, 1);
  margin: 12px;
  padding: 24px;
  border-radius: 24px;
  position: relative;
  &-info {
    display: flex;

    img {
      width: 24%;
      border-radius: 100%;
    }
  }
  &-detail {
    margin-left: 12px;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-symbol {
      font-size: 24px;
      color: #fff;
    }
    &-name {
      font-size: 18px;
      color: rgba(255, 255, 255, 0.85);
      font-weight: 300;
    }
    &-address {
      font-size: 18px;
      color: rgba(255, 255, 255, 0.85);
      font-weight: 300;
    }
  }
  &-arrow {
    position: absolute;
    right: 24px;
    top: 0;
    bottom: 0;
    width: 32px;
  }
}
