.launch-token-item {
  background-color: rgba(36, 36, 36, 1);
  margin: 0 16px 12px;
  padding: 14px 18px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  .dis {
    display: flex;
    margin-bottom: 8px;
  }
  &-title {
    font-size: 16px;
    color: #fff;
  }
  &-desc {
    font-size: 16px;
    margin-left: 8px;
    color: white;
  }
  &-remark {
    color: rgba(255, 255, 255, 0.55);
  }
  &-tips {
    color: rgba(255, 255, 255, 0.55);
  }
}
