.pair-search {
  margin-left: 8px;
  .common-search {
    margin: 0;

    input {
      height: 36px;
      border: 2px solid #3c453c !important;
      border-right: 0 !important;
    }
    .ant-input-group-addon {
      button {
        height: 36px;
        border: 2px solid #3c453c !important;
      }
    }
    .ant-input-suffix {
      border-top: 2px solid #3c453c !important;
      border-bottom: 2px solid #3c453c !important;
      padding: 0 4px;
    }
  }
}

.pair-search-modal {
  margin-top: 20px;
}
