.mint-bottom-button {
  margin: 0 12px 8px;
  &.mint-fix-bottom {
    // position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    .ant-btn:hover{
      color: rgba(0,0,0,0.88);
      // border-color: none !important;
    }
    
  }
  .ant-btn-dangerous{
    color: #ea6e6e !important;
    border-color: #ea6e6e !important;
  }
  &.openTrade {
    button {
      background-color: #242424 !important;
      border: 1px solid rgb(134, 240, 151) !important;
      color: rgb(134, 240, 151) !important;
    }
    button:hover {
      background-color: #242424 !important;
      border: 1px solid rgb(134, 240, 151) !important;
      color: rgb(134, 240, 151) !important;
    }
  }
  &.openTradeSelect {
    button {
      background-color: rgb(134, 240, 151) !important;
      color: black !important;
    }
    button:hover {
      background-color: rgb(134, 240, 151) !important;
      color: black !important;
    }
  }
  button {
    width: 100%;
    border-radius: 15px;
    font-size: 20px;
    height: 44px;
    font-weight: 600;
  }
  &.buttonBack {
    button {
      background-color: gray !important;
      color: black !important;
    }
    button:hover {
      background-color: gray !important;
      color: black !important;
    }
  }
  &.buttonHave {
    button {
      color: black !important;
      background-color: rgb(134, 240, 151) !important;
    }
    button:hover {
      background-color: rgb(134, 240, 151) !important;
      color: black !important;
    }
  }
}
