.dis {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
}

p {
  line-height: 1;
}

body {
  background-color: rgb(10, 21, 17);
  overflow: hidden;
}

.scrollStyle::-webkit-scrollbar {
  width: 8px !important;
}

.scrollStyle::-webkit-scrollbar-thumb {
  background: rgb(24, 30, 29) !important;
  border: 1px solid rgb(104, 124, 105) !important;
  border-radius: 25px !important;
}

.indexBox {
  width: 74%;
  margin-top: 10px;

  .indexTop {
    padding: 0.6% 2%;
    background-color: rgb(24, 30, 28);
    border-radius: 12px 12px 0 0;

    .indexInput {
      width: 25%;
      background-color: rgb(35, 51, 40);
      outline: none;
      border: none;
      color: white;

      .ant-input-suffix .ant-input-clear-icon {
        color: rgb(200, 200, 200) !important;
      }
    }

    .ant-select-focused {
      .ant-select-selector {
        box-shadow: none !important;
      }
    }

    .indexSelect {
      .ant-select-selector {
        background: transparent !important;
        border: none !important;

        .ant-select-selection-item {
          color: white !important;
          font-size: 17px;
          text-align: center;
        }
      }

      .ant-select-arrow {
        font-size: 15px;
        color: white !important;
      }
    }

    .indexRight {
      width: 18%;

      p {
        display: flex;
        align-items: center;

        img {
          display: block;
          width: 22px;
          margin-right: 5px;
        }

        span {
          font-size: 15px;
          letter-spacing: -1px;
          color: rgb(214, 223, 215);
        }
      }
    }
  }

  .indexNewPair {
    width: 100%;

    .indexNewPairTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 5px solid;

      & > p {
        flex: 1;
      }

      .homeTableTittle {
        padding: 7px 0;
        background: rgb(18, 18, 18);
        color: rgb(214, 223, 215);
        font-size: 14px;
      }
    }

    .indexNewPairBody {
      .infinite-scroll-component {
        overflow: hidden !important;
      }

      .indexNewSkeleton {
        width: 100%;
        height: 50vh;
        position: relative;
        background-color: rgb(6, 14, 11);

        .indexNewSpin {
          position: absolute !important;
          top: 50% !important;
          left: 50% !important;
          transform: translate(-50%, -50%) !important;
        }
      }

      .indexNewPairBodyData {
        background-color: rgb(6, 14, 11);
        cursor: pointer;
        border-bottom: 5px solid;
        padding: 4px 0;

        & > div {
          line-height: 1;
          display: flex;
          font-size: 14px;
          justify-content: center;
          flex: 1;
          overflow: hidden;
          letter-spacing: -1px;
          white-space: nowrap;
        }

        .indexNewPairBone {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding-left: 0.5%;
        }

        .indexTableLogo {
          img {
            width: 16px;
            margin-right: 5px;
            cursor: pointer;
          }

          div {
            color: white;
          }
        }
      }

      .indexNewPairBodyData:hover {
        background-color: rgb(34, 36, 34) !important;
      }
    }
  }
}

.headerBox {
  height: 54px;
  box-sizing: border-box;
  padding: 0 4% 8px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  //background-color: #0d1a14;
  background: linear-gradient(to bottom, rgb(3, 5, 3), rgb(9, 18, 13));
  border-bottom: 1px solid #687c69;
  border-radius: 0 0 10px 10px;

  .headerCenter {
    width: 40%;

    span {
      font-size: 18px;
      cursor: pointer;
    }
  }

  .headerConnect {
    padding: 0.5% 1.5%;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: -1px;
    border-radius: 7px;
    background: linear-gradient(to right, rgb(134, 240, 151), rgb(0, 255, 71));
  }
}

.rightBox {
  width: 24%;
  overflow: hidden;

  .rightBoxTweet {
    background-color: rgb(18, 18, 18);
    border: 1px solid rgba(134, 240, 151, 0.5);

    .rightTweetBox {
      .infinite-scroll-component {
        overflow: hidden !important;
      }
    }

    .rightBoxTweetTop {
      display: flex;
      align-items: center;

      div {
        width: 50%;
        padding: 2% 0;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

.tweetsBox {
  margin-top: 4%;
  padding: 0 8%;
  cursor: pointer;

  &:hover {
    background-color: #0c1815;
  }
  .post-item-img {
    max-width: 50%;
    max-height: 200px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
  }

  .tweetsText {
    color: rgb(220, 220, 220);
    word-wrap: break-word;
    margin: 12px 0;
    line-height: 1;
  }

  .tweetsMark {
    display: flex;
    align-items: center;
    margin-top: 12px;
    flex-wrap: wrap;

    p {
      color: rgb(0, 218, 255);
      font-size: 18px;
      margin: 0 12px 12px 0;
      letter-spacing: -1px;
    }
  }

  .tweetsOperate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

    .tweetsIn {
      display: flex;
      cursor: pointer;
      align-items: center;
      position: relative;

      span {
        color: rgb(200, 200, 200);
        margin-left: 10%;
      }

      img {
        width: 30px;
      }

      .tweetsLick {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .tweetsLeft {
    width: 50%;
    display: flex;
    align-items: center;

    p {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      span:first-child {
        color: white;
        font-size: 18px;
        margin-bottom: 4%;
      }

      span:last-child {
        color: rgb(214, 223, 215);
        font-size: 14px;
      }
    }
  }

  .tweetsFollow {
    p:first-child {
      color: white;
      margin-bottom: 4px;
      font-size: 13px;
      letter-spacing: -1px;
    }

    .tweetsRight {
      border: 1px solid rgb(0, 255, 71);
      border-radius: 7px;
      background-color: black;
      box-shadow: white 0 0 7px;
      text-align: center;
      color: white;
      padding: 3px 10px;
      font-size: 14px;
      cursor: pointer;
    }
  }
}

.disCen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomBox {
  width: 100%;
  position: fixed;
  z-index: 100;
  bottom: 0;
  height: 25px;
  box-sizing: border-box;
  background-color: rgb(9, 15, 12);

  & > div:last-child {
    padding-top: 5px;
    padding-right: 20px;
    border-top: 1.5px solid rgb(104, 124, 105);
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & > p:first-child {
      width: 10px;
      height: 10px;
      background-color: rgb(134, 240, 151);
      border-radius: 50%;
      margin-right: 6px;
    }

    & > p:last-child {
      cursor: pointer;
      color: white;
      font-size: 15px;
    }
  }
}

.indexSelectPopup {
  background-color: rgb(24, 30, 28) !important;
  padding: 0 !important;

  .ant-select-item {
    color: rgb(135, 145, 136);
  }

  .ant-select-item-option-selected {
    color: white !important;
    background: linear-gradient(
      to right,
      rgb(9, 21, 17),
      rgb(37, 70, 59)
    ) !important;
  }
}

.disNo {
  display: none;
}

.newPairTable {
  display: flex;
  align-items: start;
  justify-content: space-between;

  .newPairTableText {
    display: flex;
    align-items: flex-end;
    line-height: 1;
    margin-left: 15px;
  }
}

.walletModal {
  .ant-modal-content {
    background: rgb(24, 30, 28) !important;
  }

  .ant-modal-close-x {
    color: white;
    font-size: 16px;
  }
}

.headerModal {
  display: flex;
  align-items: center;
  flex-direction: column;

  & > p:nth-child(2) {
    color: #f3f3f3;
    text-align: center;
    margin: 10px 0;
    line-height: 1;
  }

  & > p:nth-child(2) {
    color: #f3f3f3;
    text-align: center;
    line-height: 1;
  }

  .walletButton {
    cursor: pointer;
    width: 150px;
    background-color: black;
    border: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    align-items: center;
    border-radius: 10px;

    span {
      line-height: 1;
      color: rgb(240, 240, 240);
    }

    img {
      margin: 0 10px;
    }
  }
}

span {
  line-height: 1;
}

.homeSegmented {
  background: rgb(37, 35, 42) !important;
  color: white !important;

  .ant-segmented-item-selected {
    color: rgb(124, 171, 158) !important;
    background: rgb(59, 55, 71);
  }

  .ant-segmented-item-label:hover {
    color: rgb(134, 240, 151) !important;
  }
}

.textAlign {
  text-align: center;
}

.NewpairDetails {
  display: flex;
}

.scroll-style-minin() {
  &::-webkit-scrollbar {
    width: 8px !important; /* 滚动条宽度 */
  }
  /* WebKit 浏览器的滚动条滑块样式 */
  &::-webkit-scrollbar-thumb {
    background: rgb(24, 30, 29) !important;
    border: 1px solid rgb(104, 124, 105) !important;
    border-radius: 10px !important;
  }
}
