@backgroundColor: #0a1511;
@modalBackgroundColor: #060e0b;
@desc-font-color: #8c8c8c;
@button-color: #86f097;
.action-button(@color) {
  background-color: @color;
  border: none;

  &:hover {
    background-color: @color !important;
  }
}
