.headerPopoverShow {
  .ant-popover-content {
    .ant-popover-inner {
      background-color: rgb(32, 34, 32) !important;
      border: 2px solid rgb(60, 69, 60) !important;
      max-width: 300px;
      box-sizing: border-box;
      .headerChain {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        .chain {
          width: 47%;
          display: flex;
          box-sizing: border-box;
          cursor: pointer;
          border: 2px solid rgb(60, 69, 60);
          padding: 6px 0 6px 6%;
          border-radius: 7px;
          margin-bottom: 10px;
          align-items: center;
          span{
            font-size: 14px;
            margin: 0 4px;
          }
        }
      }
    }
  }
}

.boxPopover {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid rgb(60, 69, 60);
  padding: 4px 8px;
  border-radius: 7px;
}