@import url('@/style/variable.less');

.dapp-sniper-right {
  .pro-input {
    width: 100%;

    .ant-input-number {
      width: 100%;
      input {
        font-size: 32px;
        padding: 0;
      }
    }
  }
  &-token {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-label {
      color: @desc-font-color;
      font-weight: 400;
    }
    &-icon {
      background-color: #1e1e1e;
      width: 80px;
      padding: 2px;
      border-radius: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .eth-logo {
        width: 24px;
        height: 24px;
      }
    }
  }
  .swap-button {
    .action-button(@button-color);
    width: 100%;
    font-size: 24px;
    height: 60px;
    border-radius: 20px;
    font-weight: 600;
  }
  .send-token {
    width: 400px;
    aspect-ratio: 360/162;
    background-image: url(/swapBoxUp.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: -34px;
    margin-top: 20vh;
    .token-info {
      margin-bottom: 42px;
    }
    position: relative;
  }
  .receive-token {
    width: 400px;
    aspect-ratio: 360/138;
    background-image: url(/swapBoxDown.png);
    background-repeat: no-repeat;
    background-size: 100%;
    .token-info {
      margin-bottom: 18px;
    }
  }
  .input-token {
    padding: 12px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .token-info {
    color: @desc-font-color;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 300;
  }
  .exchange-img {
    width: 16px;
    position: absolute;
    bottom: 22px;
    left: calc(50% - 8px);
  }
}
