.mint-common-modal {
  .locklp-list-title {
    color: rgba(255, 255, 255, 0.85);
  }
  .ant-input-number-handler-wrap {
    display: none;
  }
  .ant-input-number-group-addon {
    button {
      margin: 0;
      color: #fff;
      padding: 0;
    }
  }
}
