.mint-common-modal {
  .locklp-list-title {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);

    margin: 20px 0;
  }
  .locklp-list-balance {
    margin-top: 4px;
    color: rgba(255, 255, 255, 0.55);
  }
  .locklp-list-date {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);
    margin-top: 24px;
    margin-bottom: 8px;
  }
  .unlockDate {
    background-color: #242424;
    border: none;
    .ant-picker-input {
      .ant-picker-clear {
        color: white;
      }
      input::placeholder {
        color: rgba(255, 255, 255, 0.55);
      }
      input {
        color: white;
      }
      .ant-picker-suffix {
        color: white;
      }
    }
  }
  .butt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      width: 17%;
      border: 1px solid white;
      color: white;
      border-radius: 12px;
      text-align: center;
      padding: 8px 0;
      cursor: pointer;
    }
  }
  .SliderBox {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .ampuntSlider {
      width: 100%;
      .ant-slider-mark {
        margin-top: 4px;
        .ant-slider-mark-text {
          color: rgba(255, 255, 255, 0.55);
        }
      }
    }
    & > p {
      white-space: nowrap;
      color: white;
      font-size: 18px;
      width: 60px;
      margin-left: 10px;
      margin-top: 5px;
    }
  }
  .ant-input-number-handler-wrap {
    display: none;
  }
  .ant-input-number-group-addon {
    button {
      margin: 0;
      color: #fff;
      padding: 0;
    }
  }
}

.unlockDateDropdown {
  .ant-picker-panel-container {
    background-color: rgb(36, 36, 36);
    .ant-picker-panel {
      .ant-picker-date-panel {
        .ant-picker-header {
          button {
            color: rgba(255, 255, 255, 0.85);
          }
        }
        .ant-picker-body {
          .ant-picker-content {
            thead {
              th {
                color: white;
              }
            }
            tbody {
              .ant-picker-cell {
                color: rgba(255, 255, 255, 0.55);
              }
              .ant-picker-cell-in-view {
                color: white;
              }
              .ant-picker-cell-hover {
                .ant-picker-cell-inner {
                  background-color: rgba(134, 240, 151, 0.2);
                }
              }
              .ant-picker-cell-selected {
                .ant-picker-cell-inner {
                  background-color: rgba(134, 240, 151, 0.2);
                }
              }
              .ant-picker-cell-today {
                .ant-picker-cell-inner::before {
                  border: 1px solid rgb(134, 240, 151);
                }
              }
            }
          }
        }
      }

      .ant-picker-time-panel {
        .ant-picker-header {
          .ant-picker-header-view {
            color: rgba(134, 240, 151, 0.8);
          }
        }
        .ant-picker-content {
          .ant-picker-time-panel-column {
            scrollbar-color: rgba(134, 240, 151, 0.5) transparent;
            .ant-picker-time-panel-cell {
              .ant-picker-time-panel-cell-inner {
                color: rgba(255, 255, 255, 0.85);
              }
            }
            .ant-picker-time-panel-cell-selected {
              .ant-picker-time-panel-cell-inner {
                background-color: rgb(134, 240, 151);
                color: black;
              }
            }
          }
        }
      }
    }
    .ant-picker-footer {
      .ant-picker-now {
        .ant-picker-now-btn {
          color: rgb(134, 240, 151);
        }
      }
      .ant-picker-ok {
        .ant-btn {
          color: rgb(134, 240, 151);
          border: 1px solid rgb(134, 240, 151);
        }
        .ant-btn-primary {
          background: transparent;
          box-shadow: 0 2px 0 rgba(134, 240, 151, 0.2);
        }
      }
    }
  }
}

.locklpBox {
  height: 100%;
  .itemLP {
    background-color: #242424;
    border-radius: 18px;
    margin: 0 12px 8px;
    padding: 16px 20px;
    .it {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        word-break: break-word;
        width: 40%;
        text-align: center;
      }
    }
    .item {
      color: rgba(255, 255, 255, 0.85);
    }
    .data {
      font-size: 15px;
      margin: 10px 0 24px;
      color: white;
    }
  }
  .mint-bottom-button {
    margin-top: 12px;
  }
}
