.pair-manage-button {
  button {
    margin-bottom: 12px;
  }
  .burn-lp-button{
    background: transparent;
    &:hover{
      background: transparent !important;
    }
  }
}
.pair-manage-trad{
  height: 30vh;
  width:80%;
  margin: 0 auto;
}
.pair-manage-header{
  height: 48px;
}
.pair-manage-content{
  margin: 42px 0;
  .pair-manage-trad-title{
    color: rgba(255,255,255,0.85);
    font-size: 22px;
  }
  .pair-manage-trad-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    span{
      color:#8d8d8d
    }
  }
}
.pair-input-wrap{
  width:100%;
  display:flex;
  justify-content:flex-end;
  align-items:flex-end;
  flex-direction: column;
}
.pari-LP-modal{
  border: 2px solid #86f097;
  border-radius: 16px;
  box-sizing: border-box;
  overflow: hidden;
  .ant-modal-title{
    text-align: center;
  }
}
.pair-token-balance{
  font-size: 16px;
  color: #8d8d8d;
  margin: 4px 0;
}