.pair-manage-button {
  button {
    margin-bottom: 12px;
  }
  .burn-lp-button{
    background: transparent;
    &:hover{
      background: transparent !important;
    }
  }
}
.pair-manage-trad{
  height: auto;
  width:80%;
  margin: 40px auto;
  .pair-info-comp{
    .dis span{
      color:#fff ;
      font-size: 24px;
    }
  }
}
.pair-manage-header{
  height: 56px;
}
.pair-manage-content{
  margin: 32px 0 0;
  .pair-manage-trad-title{
    color: rgba(255,255,255,0.85);
    font-size: 18px;
  }
  .pair-manage-trad-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    span{
      color:#8d8d8d
    }
  }
}
.pair-input-wrap{
  width:100%;
  display:flex;
  justify-content:flex-end;
  align-items:flex-end;
  flex-direction: column;
}
.pari-LP-modal{
  border: 2px solid #86f097;
  border-radius: 16px;
  box-sizing: border-box;
  overflow: hidden;
  .ant-modal-content{
    background-color: #242424 !important;
  }
  .ant-modal-header{
    background-color: transparent !important;
  }
  .ant-modal-title{
    text-align: center;
    font-size: 22px;
  }
  .pair-info-comp{
    justify-content: center;
    margin-top: 24px;
    .dis span{
      color:#fff ;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
  .ant-modal-body{
    p{
      font-size: 18px;
      color: rgba(255,255,255,0.85);
      margin: 0 auto;
      width: 90%;
    }
  }
}
.pair-token-balance{
  font-size: 16px;
  color: #8d8d8d;
  margin: 4px 0;
}