.order-card{
  width: 32%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #303030;
  border-radius: 18px;
  margin-top:14px;
  padding: 12px;
  box-sizing: border-box;
  &-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    span,p{
      color: rgba(255,255,255,0.85);
    }
    .partial{
      color: rgba(255,255,255,0.55);
      background-color: #515151;
      padding: 2px;
      border-radius: 4px;
      font-size: 12px;
    }
  }
  &-body{
    .token-swap{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100px;
      span{
        color: rgba(255,255,255,0.55);
      }
      .offer{
        
      }
      .for{
        align-items: flex-end;
      }
      .order-token-item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 48%;
        height: 100%;
        background-color: #363636;
      }
    }
  }
  &-footer{
    display: flex;
    justify-content: space-between;
    .order-status{
      background-color: #535353;
      border-radius: 10px;
      padding: 6px 20px;
    }
    span{
      color: rgba(255,255,255,0.55);
    }
  }
}
.order-progress{
  .ant-progress-text{
    color: rgba(255,255,255,0.85) !important;
  }
}

.createOrder{
  display: flex;
  flex-direction: column;
  .wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #2f2f2f;
    // min-height: 300px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 18px;
    .token-card{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 145px;
      background-color: #1f1f1f;
      padding: 16px;
      box-sizing: border-box;
      border-radius: 10px;
      // opacity: 0.75;
      .dis-between{
        display: flex;
        justify-content: space-between;
      }
      &-body{
        align-items: center;
        &-left{
          width: 50%;
        }
        .token-input{
          width: 50%;
          input{
            text-align: right;
            color: #fff;
            font-size: 26px;
            font-weight: 700;
            padding-right: 4px;
          }
        }
      }
    }
    .pay{
      margin-bottom: 10px;
    }
  }
  .choose-card{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 16px;
    .dis-col{
      display: flex;
      // width: 30%;
      flex-direction: column;
      justify-content: space-between;
    }
    .choose-item{
      font-size: 20px;
      font-weight: 700;
      color: #fff;
    }
    .exchange-rate{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #4b4b4b;
      margin-top: 8px;
      padding: 5px 10px;
      border-radius: 8px;
      transform: translateY(2px);
      cursor: pointer;
      user-select: none;
      span{
        color: #86f097;
        margin-right: 6px;
      }
      img{
        width: 12px;
      }
    }
    .col-hr{
      border-left: 1px solid #a2a2a2;
      margin: 0 4px;
    }
    &-left{
      flex-grow: 1;
      flex-shrink: 1;
    }
    &-middle{
      flex-grow: 0;
      flex-shrink: 0;
      .market-price{
        cursor: pointer;
        transition: all .3s;
        &:hover{
          color: #fff;
        }
      }
    }
    &-right{
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
  .approve-btn{
    text-align: center;
    background-color: #86f097;
    border-radius: 18px;
    color: #1a1a1a;
    font-size: 18px ;
    font-weight: 700;
    padding: 18px 0;
    margin: 5px 0;
  }
  .place-btn{
    text-align: center;
    background: #4b4c4b;
    color: rgba(255,255,255,0.55);
    padding: 18px 0;
    font-size: 18px ;
    font-weight: 700;
    border-radius: 18px;
    margin: 5px 0;
    cursor: no-drop;
    transition: all .2s;
    user-select: none;
  }
  .order-active{
    background: #86f097;
    color: #1a1a1a;
    cursor: pointer;
  }
  span{
    color: rgba(255,255,255,0.55);
  }
}
.limit-select-token{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
  background-color: #303030;
  height: 40px;
  min-width: 100px;
  width: 50%;
  max-width: 180px;
  border-radius: 20px;
  cursor: pointer;
  .token-symbol{
    font-size: 16px;
    color: #fff;
    // margin-left: 8px;
  }
  img{
    // width: 32px;
    margin-right: 6px;
  }
}
.rate-input{
  height: 20px;
  width: 100%;
  .ant-input-number-input-wrap{
    height: 100%;
    input{
      font-size: 20px !important;
      font-weight: 700;
      color: #fff !important;
      padding: 0 !important; 
      height: 100% !important;
    }
  }
}
.unit-price{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &:hover{
    color:#fff
  }
  &-row{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition: .3s;
    div:first-child{
      display: flex;
      justify-content: flex-start;
      cursor: pointer;
    }
    img{
      margin-left: 4px;
      transition: .3s;
    }
    span{
      color: rgba(255,255,255,0.85);
    }
  }
}
.expires-select,.ant-select-open{
  .ant-select-selection-item{
    font-size: 20px;
    font-weight: 700;
    color: #fff !important;
  }
}
.expires-list{
  background-color: #4f4f4f;
  .ant-select-item-option-selected{
    background-color: #2f2f2f !important;
    .ant-select-item-option-content{
      color: #fff
    }
  }
  .ant-select-item-option-content{
    color:rgba(255,255,255,0.75);
    text-align: center;
  }
}