.launch-form {
  position: relative;
  margin: 0 12px;
  &-show-more {
    color: #86f097;
    cursor: pointer;
  }
  &-fix-bottom {
    position: relative;
    z-index: 2;
    margin-left: 12px;
    margin-top: 12px;
  }
}
